/* 设置 切换页面的公共样式 */

#box{
  position: absolute;
  right: 0;
  width: 85%;
  height: 90%;
  top: 80px;
  /*只是y方向*/;
  overflow-y:auto;
  overflow-x: hidden;
  /* padding: 5px; */
  /* background-color: aqua; */
}
